@import "_variaveis.css";
@import "_reset.css";



body{
    background-color: var(--cor-secundaria);
    color: var(--cor-contraste-escuro);
    font-family: var(--fonte-familia-corpo);
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex{
    display: flex;
}

.flex--centro{
    align-items: center;
    justify-content: center;
}

.flex--coluna{
    flex-direction: column;
}

@media (min-width:800px){
    .container{
        padding-right: 2.5rem;
        padding-left: 2.5rem;

    }
}

@media (min-width:120px) {
    .container{
        padding-left: calc((100vw - 900px)/2);
        padding-right: calc((100vw - 900px)/2);
    }
    
}