.cadastro{
    width: 50rem;
    margin: 50px auto;
    padding: 1rem;
    background-color: var(--cor-contraste-claro);
    border-radius: 1px;
    box-shadow: var(--sombra);
}
.cadastro_h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cadastro__cliente{
    display: flex;
    flex-direction: column;
}

.cadastro__cliente input{
    border: 3px solid var(--cor-contraste-claro);
    border-radius: 4px;
    
    margin-bottom: 1rem;
}
.linha{
    height: 1px;
    background-color:var(--cor-primaria);
    margin-bottom: 15px;
}
.cadastro__cliente button{
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-contraste-claro);
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}